body {
    background-image: url("../img/concert2.jpg");
background-repeat: no-repeat;
background-size: cover;
background-color: #14141E;
}
img{
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.gridpage{
	display: none;
}


#heading {
	background-color: white;
	text-align: center;
	color: black;
	text-shadow: -1px 0 white, 0 1px #003B1F, 1px 0 #003B1F, 0 -1px #003B1F;
}

#stop-loop-btn {
	display: none;
}


.row {
	position: relative;
	display: flex;
	width: 100%;
}


.sequencer label span {
	position: relative;
	display: block;
	width: 7vh;
  height: 7vh;
  margin: 0.5vh;
	border: 2px outset #89939B;
	border-radius: 3px;
	cursor: pointer;
}

#instrument1,#instrument2,#instrument3,#instrument4,#instrument5{
	position: relative;
	display: block;
	width: 10vh;
  height: 7vh;
  margin: 0.5vh;
	border: 2px outset #89939B;
	border-radius: 3px;
	cursor: pointer;
}

.sequencer input[type=checkbox]:checked ~ span {
	background: blue;
}


.sequencer label input {
	display: none;
}

.selected {
	background: grey;
}
